@import "tailwindcss";

body{
    background-color: #222831;
    color: #fff
}

.card{
    position: relative;
}
.card .back{
    transform: rotateY(0deg);
    transition: 120ms all ease-in;
}

.card .front{
    position: absolute;
    transform: rotateY(90deg);
    transition: 120ms all ease-in;
}

.rotated .front{
    transform: rotateY(0deg);
}
.rotated .back{
    transform: rotateY(90deg);
}